<div data-role="page" id="jqm-home" class="type-home"> 
   <div id="header"></div>
  <div id="content">
    Search results: 
    <script>
    	<%= @results %>
    </script>
  </div>
  <div id="footer"></div>
</div>
