<div data-role="page" id="jqm-home" class="type-home"> 
   <div id="header"></div>
  <div id="content">
    <a href="#search" data-role="button" data-icon="arrow-r">Search</a>
    <a href="/lookup/history" data-role="button" data-icon="star">Past Searches</a>
  </div>
  <div id="footer"></div>
</div>


<div data-role="page" id="search" class="type-home"> 
   <div id="header"></div>
  <div id="content">
    <a href="/" data-role="button" data-icon="home"> Home </a>
    <form action="/lookup" method="post">
      <div data-role="fieldcontain">
        <label for="search">CompanyLookup:</label>
        <input type="search" name="search" id="search" value="" />
      </div>
    </form>
  </div>
  <div id="footer"></div>
</div>